---
- name: Basic Kubernetes Setup
  hosts: all
  become: yes
  
  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Install kubeadm, kubelet, kubectl
      apt:
        name:
          - kubeadm
          - kubelet
          - kubectl
        state: present

- name: Setup Master
  hosts: master
  become: yes
  
  tasks:
    - name: Initialize cluster
      shell: kubeadm init --pod-network-cidr=10.244.0.0/16

    - name: Setup kubeconfig
      shell: |
        mkdir -p $HOME/.kube
        sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        sudo chown $(id -u):$(id -g) $HOME/.kube/config

    - name: Install Flannel
      shell: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml

- name: Join Workers
  hosts: workers
  become: yes
  
  tasks:
    - name: Get join command from master
      shell: ssh -o StrictHostKeyChecking=no ubuntu@{{ hostvars[groups['master'][0]]['ansible_host'] }} "kubeadm token create --print-join-command"
      register: join_command

    - name: Join cluster
      shell: "{{ join_command.stdout }}"
